.gitignore
.python-version
.bumpversion.cfg
**/.env
.cache
.vscode
.git
.idea
.fab_tasks*
.dockerignore

*.pyc
__pycache__

*.sqlite3
*.tgz
*.tar
tests
pytest*

docs
data
rpi
Makefile
build
docker
docker/shared
