{% extends "display/display_base.html" %}
{% load staticfiles %}
{% load display_tags %}

{% block display_content %}
<style>
    span.glyphicon {
        font-weight: normal;
    }
    table.progression tbody span.glyphicon {
        font-size: larger;
    }
    table.progression thead span.glyphicon {
        font-size: smaller;
    }
</style>

<table class="table table-striped table-bordered table-condensed translucent planning">
    <thead>
    <tr class="table-head">
        <td class="team-name">&nbsp;</td>
        <td>
            <strong>Epr. 1</strong><br>
            <span class="small text-muted">
                <span class="glyphicon glyphicon-off"></span>
                {% with time_limits.0 as time %}
                <span class="{{ time|planning_limit_class }}"> {{ time }}</span>
                {% endwith %}
            </span>
        </td>
        <td>
            <strong>Epr. 2</strong><br>
            <span class="small text-muted">
                <span class="glyphicon glyphicon-off"></span>
                {% with time_limits.1 as time %}
                <span class="{{ time|planning_limit_class }}"> {{ time }}</span>
                {% endwith %}
            </span>
        </td>
        <td>
            <strong>Epr. 3</strong><br>
            <span class="small text-muted">
                <span class="glyphicon glyphicon-off"></span>
                {% with time_limits.2 as time %}
                <span class="{{ time|planning_limit_class }}"> {{ time }}</span>
                {% endwith %}
            </span>
        </td>
        <td>
            <strong>Exposé</strong><br>
            <span class="small text-muted">
                <span class="glyphicon glyphicon-off"></span>
                {% with time_limits.3 as time %}
                <span class="{{ time|planning_limit_class }}"> {{ time }}</span>
                {% endwith %}
            </span>
        </td>
    </tr>
    </thead>
    <tbody>
    {%if progress %}
        {% for item in progress %}
        <tr>
            <th class="team-name">{{ item.team_name|nbsp }}</th>
            {% for st in item|slice:"1:" %}
                {% if st.status == STATUS_DONE %}
                    <td><span class="glyphicon glyphicon-ok text-success"></span></td>
                {% else %}
                    {% with st.time as time %}
                    <td class="{{ time|planning_status_class }}">{{ time }}</td>
                    {% endwith %}
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="6" class="text-warning">Aucune équipe présente.</td>
        </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}