{% extends 'bootstrap3/bootstrap3.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load pjcmc_extras %}

{% block bootstrap3_title %}{{ brand }}{% endblock %}

{% block bootstrap3_extra_head %}
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}?" />
    <link href="{% static 'css/mobile.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block bootstrap3_content %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                {% if user.is_authenticated %}
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-match" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                {% endif %}
              <a class="navbar-brand" href="{% url 'finals:home' %}">{{ brand }}</a>
            </div>

            {% if user.is_authenticated %}
                <ul class="dropdown-menu" id="bs-match">
                    <li><a href="{% url 'finals:results_lego' %}">Classement général Mindstorms</a></li>
                    <li><a href="{% url 'finals:results_arduino' %}">Classement général Arduino</a></li>
                    <li><a href="{% url 'finals:results_rpi' %}">Classement général Raspberry</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'finals:best_lego' %}">Meilleur robot Mindstorms</a></li>
                    <li><a href="{% url 'finals:best_arduino' %}">Meilleur robot Arduino</a></li>
                    <li><a href="{% url 'finals:best_rpi' %}">Meilleur robot Raspberry</a></li>
                    <li><a href="{% url 'finals:best_research' %}">Meilleur dossier de recherche</a></li>
                    <li><a href="{% url 'finals:best_poster' %}">Meilleur poster</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'finals:logout' %}">Déconnexion</a></li>
                </ul>
            {% endif %}
        </div>
    </nav>

    <div class="container">
        {% if title %}
            <h3 class="text-primary">
                <span>{{ title }}</span>
            </h3>
        {% endif %}

        {% block page_content %}{% endblock %}
        <div class="bottom-spacer"></div>
    </div>

    {% block logo %}<div class="logo"></div>{% endblock %}

{% endblock %}
