{% extends 'event/base_modal.html' %}
{% load bootstrap3 %}

{% block page_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="well well-lg col-lg-4 col-lg-offset-4">
                <form method="post" role="form" action="">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}" />
                    <fieldset>
                        <legend>Identification</legend>
                        {% bootstrap_form_errors form %}
                        {% bootstrap_field form.username %}
                        {% bootstrap_field form.password %}
                    </fieldset>
                    <fieldset>
                        <button type="submit" class="btn btn-primary btn-block">Log in</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
