{% extends 'refereeing/base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block bootstrap3_extra_script %}
    {{ block.super }}

    <script src="{% static 'refereeing/js/jquery.bootstrap-touchspin.min.js' %}"></script>

    <script>
        var $used_time_field = {% if used_time_field %} $("#id_{{ used_time_field }}") {% else %} null {% endif %};
        var url_rnd_config = '{% url "refereeing:rnd_config" match_num=match_num %}';
    </script>
    <script src="{% static 'refereeing/js/pjc_refereeing.js' %}"></script>
{% endblock %}

{% block page_content %}
    <form class="form-horizontal" role="form" method="post" id="result_form">
        {% csrf_token %}
        {% bootstrap_field form.team layout='horizontal' horizontal_label_class="col-xs-2" horizontal_field_class="col-xs-10" %}
        {% if random_config %}
            <div class="well well-sm">
                <div id="div_btn_config" >
                    <a id="btn_config" href="#" class="btn btn-primary btn-block">Tirer configuration</a>
                </div>
                <div id="div_config" class="text-center hidden h4">
                    Configuration : <span id="config"></span>
                </div>
            </div>
        {% endif %}
        <div id="team_dependant">
            {% if not form.errors %}
                <div class="container row">
                    <div id="wallclock" class="col col-xs-6 well well-sm">
                        <div class="text-center"><span id="wc_time" class="h1">10:00</span></div>
                        <div class="btn-group btn-group-justified" role="group">
                            <a id="wc_start" href="#" class="btn btn-success">Equipe arrivée</a>
                        </div>
                    </div>
                    <div id="stopwatch" class="col col-xs-6 well well-sm">
                        <div class="text-center"><span id="sw_time" class="h1">2:30</span></div>
                        <div class="btn-group btn-group-justified" role="group">
                            <a id="sw_start" href="#" class="btn btn-success">Start</a>
                            <a id="sw_stop" href="#" class="btn btn-danger disabled">Stop</a>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% for field in form %}
                {% bootstrap_field field exclude='team' layout='horizontal' %}
            {% endfor %}
            <div class="well well-sm btn-group btn-group-justified" role="group">
                {% bootstrap_button "Terminé" button_type="submit" href="#" icon="ok" button_class="btn-success"%}
                {% url 'refereeing:home' as home_url %}
                {% bootstrap_button "Annuler" href=home_url icon="remove" button_class="btn-default"%}
                {% if multi_trials_allowed %}
                    {% bootstrap_button "Reset" id="reset" href="#" icon="reset" button_class="btn-warning" %}
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}

{% block logo %}{% endblock %}
