* {
    font-family: "DejaVu Sans", sans-serif;
    font-size: 115%;
}

@media screen and (min-width: 600px) {
    div.logo {
        z-index: -10;
        position: fixed;
        bottom: 20px;
        left: 20px;
        opacity: 0.1;
        background: url("/static/img/pobot-logo-bw.png") no-repeat;
        width: 545px;
        height: 500px;
    }
}

@media screen and (min-width: 1600px) {
    .container {
        width:  1570px;
    }
}

.translucent {
    opacity: 0.9;
}

.jumbotron {
    text-align: center;
}

.navbar {
    padding: 0 2%;
}

table {
    width: 100%;
    font-size: 140%;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

div.navbar h2 {
    font-weight: bold;
    color: silver;
}

div.banner {
    background: black;
}

div.page-title h1 {
    font-weight: bold;
}

div.page-title span.page-count {
    font-weight: normal !important;
    float: right;
    font-size: 100%;
}

/* *********************************************** */

table.planning tbody td {
    text-align: center;
    width: 15%;
}

table.planning tbody td.what_when {
    width: 25%;
}

table.planning tbody th {
    vertical-align: middle;
}

table.planning thead tr td {
    text-align: center;
    vertical-align: top;
}

table.scores thead tr th {
    text-align: center;
    vertical-align: top;
}

table.scores tbody td {
    text-align: center;
    width: 11%;
}

table.checkin tbody td {
    text-align: center;
    width: 15%;
}

table.checkin tbody th {
    vertical-align: middle;
}

table.final-ranking {
    font-size: 115%;
}

table.final-ranking td, th {
    vertical-align: top;
}

table.final-ranking th {
    text-align: center;
    padding: 8px 50px !important;
    vertical-align: middle !important;
}

table.final-ranking tr.winner {
    color: gold;
}

table.final-ranking th,table.final-ranking td {
    line-height: 1.1 !important;
}

table.final-ranking tr.winner th {
    background-image: url("/img/winner_cup.png");
    background-repeat: no-repeat;
    background-position: 20%;
    background-size: auto 80%;
}

th.team-name, td.team-name {
    white-space: nowrap;
    min-width: 20em;
    max-width: 20em;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

div.message-box {
    margin-top: 150px;
    font-size: 130%;
}

div.message-box h1.panel-title {
    font-size: 80%;
}

div.system-error {
    position: fixed;
    top: 30%;
    width: 100%;
    font-size: 200%;
    z-index: 99;
}

div.system-error div#error-message {
    font-weight: bold;
}
